.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
code {
  padding: 4px;
}
.ui.feed > .event.indent {
  margin-left: 1em;
}
.ui.feed > .event {
  word-break: break-word;
}
.ui.button.left-button {
  text-align: left;
}
